- var homepage = true

doctype html
html(lang="no")
  head
    include templates/head.pug
  block head
    script(src="./js/lottie-player.js")

  body.particleZone
    #grid-center
      center#grid-center-content
        section#content
          a(href="https://www.vaagen.vgs.no/hovedmeny/for-elever/skolehverdag-og-ikt/ikt-og-elev-pc/")
            h1#logo.ff-logo IM
          #spacing.hide_mobile
          lottie-player(src="https://assets6.lottiefiles.com/packages/lf20_1LhsaB.json" loop autoplay style="height: 200px; width: 200px;")
          #spacing.hide_mobile
          h1 Velkommen til IM's hjemmeside hos Vågen VGS!
        .navbar
          include templates/nav.pug
        footer
          include templates/footer.pug
    #particles-js
      script(src="js/particles.js")
      script(src="js/particles-app.js")
