include variables.pug
meta(name="viewport" content="width=device-width, initial-scale=1")
title=title
link(rel="shortcut icon" type="image/x-icon" href=favicon)
link(rel="stylesheet" type="text/css" href=css)
// Extra headroom 
block head
